<style>
    .container {
        width: 800px;
        font-family: 'Courier New', Courier, monospace;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 6px;
    }

    span {
        margin: 10px;
    }
</style>

<div class="container">
    <span>Oi, {{name}}</span>

    <br>

    <span>Você solicitou alteração de senha</span>
    <span>Para realizar a troca clique no link: 
        <a href={{link}}>{{link}}</a>
    </span>

    <span>Se você não realizou essa solicitação ignore esta mensagem</span>

    <h3>Suporte Rentx</h3>
</div>